<form class="form-horizontal" role="form" ng-submit="addGearSectionConfiguration()">
<table class="table gearsectionconfigurationtable">
  <tr>
    <td colspan="4"><h3>New property for {{gearsection.gesName}}</h3></td>
  </tr>
  <tr>
    <td>
		<label for="title" class="col-sm-2 control-label">Name</label>
    </td>
    <td>
		<input type="text" ng-model="gearsectionconfiguration.gscPropertyName" class="form-control" id="gscPropertyName"
			placeholder="Property name" />
    </td>
    <td>
		<input type="text" ng-model="gearsectionconfiguration.gscValue" class="form-control" id="gscValue"
			placeholder="Value" />
    </td>
    <td class="button-cell">
      <input type="submit" class="btn btn-primary" value="Save" />
    </td>
  </tr>
</table>
</form>